<footer>
    <ul class="social">
        <li>
            <a href="https://www.instagram.com/mhkstreet/" target="_blank">
                <img src="img/icon-inst.png" alt="instagram" title="instagram"/>
            </a>
        </li>
        <li>
            <a href="https://www.facebook.com/city4people.mah" target="_blank">
                <img src="img/icon-fb.png" alt="facebook" title="facebook"/>
            </a>
        </li>
        <li>
            <a href="https://vk.com/city4people_mah" target="_blank">
                <img src="img/icon-vk.png" alt="vk" title="vk"/>
            </a>
        </li>
    </ul>
</footer>