<header>
    <div class="logo">
        <img src="img/logo.png" 
            alt="Городские проекты. Махачкала"
            title="Городские проекты. Махачкала" 
            width="144px" 
            class="logo">
    </div>
    <div class="right-header">
        <h5>Городские проекты</h5>
        <h1>КАКУЮ <strong>МАХАЧКАЛУ</strong><span>ТЫ ХОЧЕШЬ?</span></h1>
        <div class="subheader">
            <div class="text2">
                Городские проекты – это некоммерческая организация, которая привлекает внимание к городским темам для формирования общественного запроса на удобные города и высокое качество жизни. Вместе мы сможем повлиять на наши города и сделать их удобнее.
            </div>
            <div class="btn-block">
                <a class="btn" href="https://russia.city4people.ru/#join-form" target="_blank">Присоединиться</a>
            </div>
        </div>
    </div>
</header>